<div class="col-lg-3">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">About</li>
    </ol>
</div>

<h1>{{title}}</h1>
<div class="row marginTopBottom">
        <div class="col-lg-5">
        <img class="avatar" src="/images/mypicture.png" alt="Just me", title="This is me">
    </div>
    
    <div class="col-lg-7">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tristique feugiat elit. Mauris maximus, augue sit amet scelerisque iaculis, ante nunc eleifend sapien, eu efficitur nibh purus in lectus. Suspendisse venenatis a dolor vel tristique. Nam luctus quam ut venenatis luctus. Phasellus semper justo eget eros lacinia tempus. Suspendisse in dui ac neque vulputate venenatis vel et sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas semper, neque nec convallis vestibulum, diam diam maximus quam, id facilisis mi est a est. Fusce sed diam a odio tincidunt commodo a ut massa. Aenean interdum arcu congue ligula scelerisque suscipit. Aenean varius, dolor at posuere suscipit, risus nibh euismod enim, at rutrum felis nisl ac urna. Quisque turpis metus, malesuada ut odio quis, mollis pretium turpis. Mauris eu lorem purus. Nam vestibulum, erat sed blandit ultricies, nunc dui aliquam lorem, vitae ornare magna turpis ac elit. Aenean dignissim cursus mi sit amet varius.</p>
    </div>
</div>
<div class="row marginTopBottom">

    <div class="col-lg-6">
        <h2>Front End Skills</h2>
        
        <h4>HTML</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 100%;"></div>
        </div>
        <br>
        <h4>CSS</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%;"></div>
        </div>
        <br>
        <h4>Javascript</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 100%;"></div>
        </div>
        <br>
        <h4>Jquery</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 100%;"></div>
        </div>
        <br>
        <h4>Bootstrap</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%;"></div>
        </div>
        <br>
        <h4>Express</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 15%;"></div>
        </div>
    </div>
    <div class="col-lg-6">
        <h2>Back End Skills</h2>
        <h4>PHP</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 100%;"></div>
        </div>
        <br>
        <h4>LARAVEL (PHP framework)</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 50%;"></div>
        </div>
        <br>
        <h4>ZEND 1.X (PHP Legacy Framework)</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 100%;"></div>
        </div>
        <br>
        <h4>Objected Oriented Design</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 100%;"></div>
        </div>
        <br>
        <h4>MySQL</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 100%;"></div>
        </div>
        <br>
        <h4>C#</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 50%;"></div>
        </div>
        <br>
        <h4>JAVA</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 50%;"></div>
        </div>
    </div>
</div>
<div class="row marginTopBottom">
    <div class="col-lg-6">
        <h2>Management skills</h2>
        <h4>Interpersonal Skills</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 100%;"></div>
        </div>
        <br>
        <h4>Comunication and Motivation</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 90%;"></div>
        </div>
        <br>
        <h4>Organization and Delegation</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 100%;"></div>
        </div>
        <br>
        <h4>Forward Planning and strategic thinking</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 100%;"></div>
        </div>
        <br>
        <h4>Mentoring</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 100%;"></div>
        </div>
        <br>
        <h4>Problem Solving and decision-making</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 100%;"></div>
        </div>
        <br>
    </div>
    <div class="col-lg-6">
        <h2>Soft skills</h2>
        <h4>Communication</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%;" ></div>
        </div>
        <br>
        <h4>Teamwork</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 100%;"></div>
        </div>
        <br>
        <h4>Problem Solving</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 100%;"></div>
        </div>
        <br>
        <h4>Creativity</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%;"></div>
        </div>
        <br>
        <h4>Interpersonal Skills</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%;"></div>
        </div>
        <br>
    </div>
</div>