<h1>{{title}}</h1>
<div class="row marginTopBottom">
        <div class="col-lg-4">
        <img class="avatar" src="/images/mypicture.png" alt="Just me", title="This is me">
    </div>
    
    <div class="col-lg-7">
        <p>I started my career as a developer doing my old school's website, when I was 13 years old, by the time I was using HTML and Microsoft Frontpage.<br>
        After that, I improved my knowledge and learned about programming languages such as PHP and JAVA. Then, I started assuming more complex projects,
        like a small POS system or a Stock Management System.<br>
        After many years and Sites/Systems done, I've graduated in a Bachelor Course in Computer's Science. During the course I was an intern in the local Water and Sewers 
        Company, developing an Electronic Document Management System and building a new and dynamic intranet. I also was an intern at Social Security Data Company (Dataprev), 
        on which I have helped with the development of the system called SIACI, a system whose main objective was to integrate all the social security data from workers around 
        south america and account the time spent working for retirement effects.<br>
        After I graduated, I went to ConstruirSites (Create Sites in English), where I mastered the skills needed to develop cutting edge websites,<br>
        being responsible for creating more than 50 projects and maintaining and updating almost all previous legacy websites the company had.<br>
        After that, I was invited to work at a startup called I.T. (Innovation & Tech), where I helped since the beginning of the company, creating websites, applications, 
        and web applications, interviewing clients and creating the company's internal framework (this was my pride and joy), as the company grew, 
        I was given the responsibility to lead and mentor a new team of interns, to help me with the development process.<br>
        I'm constantly improving myself, and currently, I'm a full-time student at Conestoga College, coursing the course Mobile Application Developer. 
        That way, I'll be able to spread my occupation area among with my newly gained knowledge (another one of my passions).
        </p>
    </div>
</div>
<div class="row marginTopBottom">

    <div class="col-lg-6">
        <!-- animated progress bar provided by bootstrap theme -->
        <h2>Front End Skills</h2>
        
        <h4>HTML</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated"  style="width: 100%;"></div>
        </div>
        <br>
        <h4>CSS</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated"  style="width: 80%;"></div>
        </div>
        <br>
        <h4>Javascript</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 100%;"></div>
        </div>
        <br>
        <h4>Jquery</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 100%;"></div>
        </div>
        <br>
        <h4>Bootstrap</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 80%;"></div>
        </div>
        <br>
        <h4>Express</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" style="width: 15%;"></div>
        </div>
    </div>
    <div class="col-lg-6">
        <h2>Back End Skills</h2>
        <h4>PHP</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 100%;"></div>
        </div>
        <br>
        <h4>LARAVEL (PHP framework)</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" style="width: 50%;"></div>
        </div>
        <br>
        <h4>ZEND 1.X (PHP Legacy Framework)</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 100%;"></div>
        </div>
        <br>
        <h4>Objected Oriented Design</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 100%;"></div>
        </div>
        <br>
        <h4>MySQL</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 100%;"></div>
        </div>
        <br>
        <h4>C#</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" style="width: 50%;"></div>
        </div>
        <br>
        <h4>JAVA</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" style="width: 50%;"></div>
        </div>
    </div>
</div>
<div class="row marginTopBottom">
    
    <div class="col-lg-6">
        <h2>Management skills</h2>
        <h4>Interpersonal Skills</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 100%;"></div>
        </div>
        <br>
        <h4>Comunication and Motivation</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 90%;"></div>
        </div>
        <br>
        <h4>Organization and Delegation</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 100%;"></div>
        </div>
        <br>
        <h4>Forward Planning and strategic thinking</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 100%;"></div>
        </div>
        <br>
        <h4>Mentoring</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 100%;"></div>
        </div>
        <br>
        <h4>Problem Solving and decision-making</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 100%;"></div>
        </div>
        <br>
    </div>
    <div class="col-lg-6">
        <h2>Soft skills</h2>
        <h4>Communication</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%;" ></div>
        </div>
        <br>
        <h4>Teamwork</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 100%;"></div>
        </div>
        <br>
        <h4>Problem Solving</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: 100%;"></div>
        </div>
        <br>
        <h4>Creativity</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 60%;"></div>
        </div>
        <br>
        <h4>Interpersonal Skills</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 80%;"></div>
        </div>
        <br>
    </div>
</div>