<h1>{{title}}</h1>
<p>Welcome to my web portfolio, my name is Thiago and I'm a passionate application's developer since I was a child. <br>
I am a Bachelor in Computer Science and have been a developer way before that, currently I'm a full time student at Conestoga's College
Course Mobile Solutions Developer.
</p>
