<div class="col-lg-3">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active">Projects</li>
    </ol>
</div>

<h1>{{title}}</h1>

<div class="row marginTopBottom">
    <div class="col-lg-4">
        <img class="projectImg" src="/images/cagepa.png" title="cagepa" alt="cagepa" >
        <h4 class="company"> Cagepa (State's Water and Sewers Company) </h4>
        <p class="justifyText">Responsible for the development of the new version of the company's intranet and the development of the company's own Electronic Document Manager (called Sigepca)</p>
        <h5>
            Techonologies used
        </h5>
        <ul>
            <li>PHP</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>Jquery</li>
            <li>MySQL</li>
        </ul>
        <h5>Achievements:</h5>
        <ul>
            <li>
                Inovation of the old intranet
            </li>
            <li>
                Creation of the content manager for the intranet
            </li>
            <li>
                Intranet's integration with others internal systems
            </li>
            <li>
                New real time reports were avaialable thanks to the above integration
            </li>
            <li>
                Innovation of internal physical file organization system thanks to Sigepca system
            </li>
            <li>
                Decrease in the time needed to search for physical files's information
            </li>
            <li>
                Increase of overall productivity thanks to the time optimization provided by Sigepca system
            </li>
        </ul>
    </div>
    <div class="col-lg-4">
        <img class="projectImg" src="/images/dataprev.png" title="Dataprev" alt="Dataprev">
        <h4 class="company"> Dataprev </h4>
        <p class="justifyText">Member of the team responsible for the testing and development of Siaci System, witch's main objective is to integrate all the social security data from workers from countries members of Mercosur  </p>
        <h5>
            Techonologies used
        </h5>
        <ul>
            <li>Selenium</li>
            <li>JAVA</li>
            <li>Tomcat</li>
            <li>Struts</li>
            <li>JSF</li>
            <li>PostgreeSQL</li>
        </ul>
        <h5>Achievements:</h5>
        <ul>
            <li>
                Creation of automated unit test scripts using Selenium and Junit
            </li>
            <li>
                Optimization of internal queries
            </li>
            <li>
                Optimization of Database Structure
            </li>
            <li>
                Development of internal functions
            </li>
            <li>
                Code Optimization
            </li>
            <li>
                Creation and optimization of project's documentation
            </li>
        </ul>
    </div>
    <div class="col-lg-4">
        <img class="projectImg" src="/images/construir.png" title="Construir" alt="Construir">
        <h4 class="company"> Construir Sites (Build Sites) </h4>
        <p class="justifyText">Member of the team responsible for develop and maintenance of websites, being responsible for the creation of more than 50 websites</p>
        <h5>
            Techonologies used
        </h5>
        <ul>
            <li>PHP</li>
            <li>Zend Framework</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>Jquery</li>
            <li>MySQL</li>
        </ul>
        <h5>Achievements:</h5>
        <ul>
            <li>
                Invasion proof sites
            </li>
            <li>
                Correction and optimization of legacy code
            </li>
            <li>
                Security improvement of legacy sites
            </li>
            <li>
                Performance improvement of content manager
            </li>
            <li>
                Mentoring of new hired internals
            </li>
            <li>
                Improvement of client-company relationship
            </li>
        </ul>
    </div>
</div>
<div class="row marginTopBottom">
    <div class="col-lg-4">
        <img class="projectImg" src="/images/it.png" title="it" alt="it logo">
        <h4 class="company"> IT (Technology Inovation) </h4>
        <p class="justifyText">As the first developer of the company, started doing on demand software and sites,
         while developing the Company's internal framework (later called Zeneth), also, was responsible for client's interview 
         and requiriments definition, as the company grown, there was a need of hiring new technical staff and I became 
         the responsible for training the new hired members, later on, promoted to
         project manager and tech leader.
        </p>
        <h5>
            Techonologies used
        </h5>
        <ul>
            <li>PHP</li>
            <li>Zend Framework</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>Jquery</li>
            <li>MySQL</li>
        </ul>
        <h5>Achievements:</h5>
        <ul>
            <li>Creation of internal framework Zeneth (Zend + Thiago)</li>
            <li>Creation of internal CRM and Payments management Systems</li>
            <li>Improvement of development speed by 50% (overall projects) and, sometimes, 90%</li>
            <li>Creation of more than 200 sites and 50 web apps</li>
            <li>More than 85% of client satisfaction</li>
            <li>More than 90% of projects delivered before the deadline</li>
            <li>Responsible for reaching excelent internal satisfaction with work environment</li>
            <li>Mentoring of trainees and new hired tech staff</li>      
        </ul>
    </div>
    <div class="col-lg-4">
        <img class="projectImg" src="/images/cordel.jpg" title="cordel" alt="cordel">
        <h4 class="company"> Cordel Digital Marketing </h4>
        <p class="justifyText">Hired as tech leader, one of the main responsible for the mentoring
        and improvement of the new hired tech staff, also, the sole responsible for the most complex
        projects like the POS system, the Outdoor Mapping System and State control system 
        for cattle vaccination
        </p>
        <h5>
            Techonologies used
        </h5>
        <ul>
            <li>PHP</li>
            <li>Laravel</li>
            <li>WordPress</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>Jquery</li>
            <li>MySQL</li>
            <li>PostgreeSQL</li>
        </ul>
        <h5>Achievements:</h5>
        <ul>
            <li>Conclusion of POS system</li>
            <li>Conclusion of Outdoor Mapping System</li>
            <li>Conclusion of State Control System for cattle vaccination</li>
            <li>Majority of the projects delivered earlier than the due time</li>
            <li>Improvement of internal system's performance</li>
            <li>Acceptance of the proposal of building an internal framework</li>
        </ul>
    </div>
    <div class="col-lg-4">

    </div>
</div>
